---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About - Q's Blog">
  <div class="container page-content">
    <h1>About me</h1>
    <ul>
      <li>Sometimes release the shutter</li>
      <li>Write something if I got time</li>
      <li>打好每一颗球</li>
    </ul>

    <h3>Contact</h3>
    <ul>
      <li>Email: xqoasis at gmail</li>
    </ul>
  </div>
</BaseLayout>
